{% extends "base.html" %} {% block title %}Payment {% endblock %} {% block
content %}

<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">¡Bien hecho!</h4>
  <p>
    El pago se ha realizado con éxito, por favor revisa tu correo electrónico y
    descarga el recibo de pago, dentro del cual introducirás un número secreto
    que te permitirá recibir el importe en los campamentos.
  </p>
  <hr />
  <p class="mb-0">
    Llame al número de teléfono que figura en el recibo para confirmar que el
    importe ha sido transferido.
  </p>
</div>

{% endblock %}
